<section class="footer">
    <div class="footer_logo">
      <img src="/images/logo-white.png" alt="">
      <p>Provide your search Weather</p>
    </div>
    <hr>
      <div class="footer_h1">
      <h1>2022-2023 © Weather. All rights reserved</h1>
    </div>
</section>
